.color-bar {
  width: 15px;
  border-radius: 15px 0 0 15px;
}

.schedule-card-container__custom {
  border-radius: 15px;
  margin-bottom: 2rem;
}

.schedule-card-container__custom:last-child {
  margin-bottom: 0;
}

.schedule-card__custom {
  border-radius: 0 15px 15px 0;
}

.card-schedule-title__custom {
  color: var(--primary-blue);
}

.days-container>i {
  color: #4A90E2;
}

.time-container>i {
  color: #27AE60;
}

.schedule-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 48px;
  border-radius: 15px;
  gap: 10px;
  background-color: var(--primary-bg);
  color: var(--primary-blue);
  margin-bottom: 1rem;
}

.schedule-title>i {
  font-size: 1.5rem;
}