.student-stats-container {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: var(--primary-bg);
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    border-radius: 8px;
    overflow: hidden;
}

.stat-container {
    padding: 1em 2em;
    flex: 1 1 calc(30% - 20px);
    display: flex;
    justify-content: space-between;
    margin: 1em;
}

.stat-container:nth-child(2) {
    border-left: 1px solid #cfcfcf;
    border-right: 1px solid #cfcfcf;
}

.stat-container:last-child {
    border-top: 1px solid #cfcfcf;
    margin-top: 0;
    margin-bottom: 0;
    justify-content: center;
    text-align: center;
}

.stat-container>div>div {
    display: flex;
    align-items: end;
    justify-content: center;
    gap: 12px;
}

.stat-container h3 {
    font-size: 1.5rem;
    margin: 0;
    color: #333;
}

.stat-container p {
    margin: 4px 0;
    color: #333;
    font-weight: 600;
}

.stat-container p:last-child {
    font-weight: 400;
    color: #666;
}

.stat-container .icon {
    margin-top: 8px;
    font-size: 1.2rem;
}

.icon.green.up {
    color: #4caf50;
}

.icon.orange.down {
    color: #ff9800;
}

.stat-container i {
    font-size: 2rem;
    color: #826bd5;
    margin-top: 10px;
}

.stat-container i.special {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    width: 48px;
    height: 48px;
    font-size: 1.4rem;
    margin: 0;
    display: grid;
    place-items: center;
}

.main-stats-section {
    display: flex;
}

/* _______________PIE_CHART________________ */

.pie-chart-container {
    background-color: var(--primary-bg);
    border: 1px solid #e6eaf3;
    border-radius: 12px;
    padding: 20px;
    margin: 1em auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    text-align: center;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.pie-chart-container h3 {
    font-size: 1.25rem;
    font-weight: 600;
    color: #181818;
    margin-bottom: 16px;
}

.chart-wrapper {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.chart-percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    font-weight: 700;
    color: #181818;
}

.chart-legend {
    display: flex;
    justify-content: center;
    gap: 16px;
    list-style: none;
    margin-top: 1em;
    padding: 0;
}

.chart-legend li {
    font-size: 0.875rem;
    color: #8a94a6;
    display: flex;
    align-items: center;
}

.chart-legend .dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 8px;
    display: inline-block;
}

.chart-legend .dot.green {
    background-color: #4caf50;
}

.chart-legend .dot.orange {
    background-color: #f57c00;
}

.chart-legend .dot.red {
    background-color: #d32f2f;
}

/* _______________CALENDAR________________ */

.calendar-container {
    background-color: var(--primary-bg);
    border: 1px solid #e6eaf3;
    border-radius: 12px;
    gap: 20px;
    margin: 1em auto 1em 1em;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

/* CALENDAR STYLE */
.calendar-container .calendar-wrapper {
    flex: 1;
    display: flex;
    align-items: center;
}

.calendar-container .react-calendar * {
    border: none;
    outline: none;
    background: none;
}

.calendar-container .react-calendar {
    border: none !important;
}

.calendar-container .react-calendar__navigation {
    display: flex;
    border-bottom: 1px solid #cfcfcf;
    padding: 1em;
    width: 80%;
    margin: 0 auto;
}

.calendar-container .react-calendar__month-view * {
    padding: 6px;
}

.calendar-container .react-calendar__month-view__days {
    display: flex;
    justify-content: center;
}

.calendar-container .react-calendar__month-view__days>button {
    border-radius: 50%;
    margin: 2px;
    min-width: 40px;
    max-width: 40px;
    min-height: 40px;
    max-height: 40px;
    transition: background-color 0.1s ease;
}

.calendar-container .react-calendar__month-view__days>button:hover {
    background-color: rgba(0, 187, 212, 0.219);
    color: var(--primary-blue);
}

/* ASSIGNMENTS STYLE */

.assignments-list {
    flex: 1;
}

.assignments-list ul {
    padding: 0;
}

.assignments-list h4 {
    margin: 1em;
}

.assignments-list>h4 {
    margin: 1em auto;
    text-align: center;
    width: fit-content;
}

.assignment-item {
    box-shadow: 0px 3px 4px 1px #b8b8b8;
    list-style: none;
    margin-bottom: 1em;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.assignment-item h4 {
    font-size: 1rem;
    color: var(--primary-blue);
    width: min-content;
    text-align: center;
    padding: 1em;
}

.assignment-item>div {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 120px;
    padding: 8px 0;
}

.assignment-item p {
    margin: 0;
}

/* _______________BAR_GRAPH________________ */
.annual-stats-container {
    background-color: var(--primary-bg);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1em;
    border-radius: 8px;
    min-height: 300px;
    overflow: hidden;
}

.annual-stats-container h3 {
    margin: 20px;
    font-size: 18px;
    color: #333;
}

.monthly-performance-list {
    display: flex;
    list-style: none;
    padding: 20px;
    min-height: 300px;
    overflow-x: scroll;
    --sb-track-color-x: #ffffff;
    --sb-thumb-color-x: #032d6c4f;
    --sb-size-x: 10px;
}

.monthly-performance-item {
    text-align: center;
    flex: 1;
    margin: 0 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.progress-bar {
    width: 30px;
    background-color: rgba(0, 188, 212, 1) !important;
    border-radius: 12px;
    margin: 0.6em 0;
    transition: height 0.3s ease;
}

.monthly-performance-item p {
    text-transform: capitalize;
    font-size: 12px;
    color: #444;
    margin: 0;
    letter-spacing: 0.5px;
    font-weight: bold;
}

/* _______________________________ */
.monthly-performance-list::-webkit-scrollbar {
    height: var(--sb-size-x);
}

.monthly-performance-list::-webkit-scrollbar-track {
    background: var(--sb-track-color-x);
    border-radius: 2px;
}

.monthly-performance-list::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color-x);
    border-radius: 2px;
}

/* _______________________________ */


.my-class-container {
    padding: 20px;
    background-color: var(--primary-bg);
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin: auto;
    overflow-x: auto;
}

.my-class-container h3 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #333;
}

.schedule-table {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    /* background-color: #fff; */
    border-radius: 8px;
    overflow: hidden;
}

.schedule-row {
    display: contents;
}

.schedule-header {
    background-color: #dceafe;
    color: #333;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    border-right: 1px solid #fff;
    border-radius: 12px;
}

.schedule-header:last-child {
    border-right: none;
}

.schedule-cell {
    background-color: #e8f3fd;
    text-align: center;
    padding: 10px;
    font-size: 0.9rem;
    color: #333;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-radius: 12px;
}

.schedule-cell:last-child {
    border-right: none;
}

.schedule-cell:hover {
    background-color: #cbe2f8;
    transition: background-color 0.2s ease;
}


/* _______________________________ */
@media (width < 940px) {
    .stat-container {
        padding: 2em;
        margin: 0.4em 1em;
    }

    .stat-container:last-child {
        padding-top: 2em;
        padding: 2em;
        justify-content: center;
        text-align: center;
    }

    .main-stats-section {
        flex-direction: column;
    }

    .pie-chart-container {
        min-width: 100%;
    }

    .calendar-container {
        gap: 0;
        margin: 1em auto;
    }
}

@media (width < 800px) {
    .stat-container {
        padding: 1.4em;
        margin: 0;
    }

    .stat-container:last-child {
        padding: 1em;
        padding-top: 2em;
    }

    .stat-container i.special {
        width: 38px;
        height: 38px;
        font-size: 1.4rem;
        margin: auto 0;
    }
}

@media (width < 768px) {
    .stat-container {
        padding: 1.2em;
    }

    .stat-container:last-child {
        padding: 1em 0;
    }

    .stat-container h3 {
        font-size: 1.2rem;
    }

    .stat-container p {
        margin: 4px 0;
    }

    .stat-container .icon {
        margin-top: 0;
        font-size: 1.2rem;
    }
}

@media (width < 632px) {
    .student-stats-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .stat-container {
        border-bottom: 1px solid #cfcfcf;
        padding: 1.4em 2em;
    }

    .stat-container:nth-child(2) {
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;
    }

    .stat-container i.special {
        width: 44px;
        height: 44px;
        font-size: 1.4rem;
        margin: auto 1em;
    }
}

@media (width < 478px) {

    .react-calendar__navigation {
        padding: 0.4em;
        width: 90%;
    }

    .react-calendar__month-view * {
        padding: 3px;
    }

    .react-calendar__month-view__days>button {
        margin: 1px;
        min-width: 36px;
        max-width: 36px;
        min-height: 36px;
        max-height: 36px;
    }

    /* ASSIGNMENTS STYLE */
    .assignments-list h4 {
        margin: 1em auto;
    }

    .assignment-item {
        border-radius: 8px;
        flex-direction: column;
    }

    .assignment-item h4 {
        font-size: 1.2rem;
        width: fit-content;
        text-align: center;
        padding: 0.4em 0 0;
        margin: 0.4em;
    }

    .assignment-item>div {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 0;
    }

    .assignment-item p:last-child {
        margin: 0 0 1em;
    }
}

@media (width < 375px) {

    .pie-chart-container {
        padding: 20px 0;
        margin: 1em auto;
        width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .chart-wrapper {
        width: 150px;
        height: 150px;
    }

    .react-calendar__navigation {
        padding: 0.2em 0;
        width: 100%;
    }

    .react-calendar__month-view * {
        padding: 2px 0;
    }
}