.card__custom {
  width: 360px;
  height: 450px;
  padding: 25px;
  border: none !important;
  border-radius: 12px;
  transition: box-shadow 0.3s ease-in-out;
}

.card__custom:hover {
  box-shadow: 5px 5px 9px rgba(5, 75, 180, 0.636);
  /* cursor: pointer; */
}

.card-img-top {
  border-radius: 10px;
  height: 207px;
}

.card-title__custom {
  color: #032D6C !important;
  text-align: center;
}

.ul-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}


