.layout-container {
  display: grid;
  grid-template-rows: 60px 1fr auto;
  min-height: 100dvh;
  min-width: 100%;
}

.landing-page h1 {
  margin: 0.8em 0 0;
}

.landing-page {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-width: 80%;
  max-width: 80%;
  margin: 0 auto;
}

@media (width < 1200px) {
  .landing-page {
      min-width: 90%;
      max-width: 90%;
  }
}

@media (width < 992px) {
  .landing-page {
      min-width: 94%;
      max-width: 94%;
  }
}