.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.pages-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 80dvw;
  margin: 60px auto 0;
  padding: 1rem;
}

@media (width < 1200px) {
  .pages-container {
    width: 90dvw;
  }
}

@media (width < 992px) {
  .pages-container {
    width: 100%;
  }
}